@model MantenimientoPY.Models.ContactosEmergencia

@{
    ViewBag.Title = "Contactos de emergencias - Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar contacto de emergencia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contactos de emergencia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idContactoEmergencia)

        <div class="form-group">
            <p>ID ciudadano asociado: </p>
            <div class="col-md-10">
                @Html.DropDownList("idCiudadano", null, htmlAttributes: new { @class = "input-group mb-3" })
                @Html.ValidationMessageFor(model => model.idCiudadano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Número contacto de emergencia</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.numContactoEmergencia, new { htmlAttributes = new { @class = "input-group mb-3" } })
                @Html.ValidationMessageFor(model => model.numContactoEmergencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>
                Nombre contacto de emergencia:
            </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreContactoEmergencia, new { htmlAttributes = new { @class = "input-group mb-3" } })
                @Html.ValidationMessageFor(model => model.nombreContactoEmergencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
