@model IEnumerable<MantenimientoPY.Models.Denuncia>

@{
    ViewBag.Title = "View";
}

<h2>Denuncias activas</h2>

<table class="table">
    <tr>
        <th>
            Coordenadas
        </th>
        <th>
            Nombre del afectado
        </th>
        <th>
            Estado de la denuncia
        </th>
        <th>
            Tipo de delito
        </th>
        <th>
            Drescripción
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <p> Latitud: @Html.DisplayFor(modelItem => item.latitudDenuncia) <br /> Longitud: @Html.DisplayFor(modelItem => item.longitudDenuncia)</p>
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.Ciudadano.nombreCiudadano) <br />@Html.DisplayFor(modelItem => item.Ciudadano.apellidoMatCiudadano)  <br />@Html.DisplayFor(modelItem => item.Ciudadano.apellidoPatCiudadano)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.EstadoDenuncia.descripcionEstadoDenuncia)
    </td>
    <td>
        <p>@Html.DisplayFor(modelItem => item.TipoDelito.nombreTipoDelito)</p>
    </td>
    <td>
        <p>@Html.DisplayFor(modelItem => item.descripcionDenuncia)</p>
    </td>
    <td>
        @Html.ActionLink("Atender", "Edit", new { id = item.idDenuncia }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.idDenuncia })

    </td>

</tr>
    }

</table>
