@model MantenimientoPY.Models.TipoDenuncia

@{
    ViewBag.Title = "Tipo de denuncia - Crear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Crear tipo de denuncia</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tipo de denuncia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>ID tipo de denuncia: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idTipoDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idTipoDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Nombre tipo de denuncia: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Descripción: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcionDenincua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcionDenincua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
