@model MantenimientoPY.Models.Denuncia

@{
    ViewBag.Title = "Denuncias - Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar denuncia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Denuncia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idDenuncia)

        <div class="form-group">
            <p>ID ciudadano:</p>
            <div class="col-md-10">
                @Html.DropDownList("idCiudadano", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCiudadano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <p>ID policía: </p>
            <div class="col-md-10">
                @Html.DropDownList("idPolicia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPolicia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <p>Tipo denuncia: </p>
            <div class="col-md-10">
                @Html.DropDownList("idTipoDenuncia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Tipo delito: </p>
            <div class="col-md-10">
                @Html.DropDownList("idTipoDelito", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoDelito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Estado denuncia: </p>
            <div class="col-md-10">
                @Html.DropDownList("idEstadoDenuncia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEstadoDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Latitud: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitudDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.latitudDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <p>Longitud: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitudDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.longitudDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Descripción</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcionDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcionDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Afectado: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.afectadoDenuncia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.afectadoDenuncia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
